.recent__portfolio
	height: 570px
	width: 100%
	display: flex
	justify-content: center
	@media only screen and (min-width : 768px) and (max-width : 1170px)
		height: 970px
	@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
		height: 1400px
	@media only screen and (min-width : 320px) and (max-width : 767px)
		height: 1400px

	&__wrapper
		display: flex
		flex-direction: column
		align-items: center
		width: 1170px
		margin-top: 80px
		@media only screen and (min-width : 768px) and (max-width : 1170px)
			width: 968px
		@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
			width: 568px
		@media only screen and (min-width : 320px) and (max-width : 767px)
			width: 568px

	&__name
		display: flex
		flex-flow: row
		align-items: center
		margin-bottom: 40px
	
		h1
			@include font("Raleway", 800, 15px)
			color: $font_color
		
		.line
			height: 1px
			width: 100px
			margin: 0 30px
			background-color: $name_line_color

	&__box__wrapper
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		height: 385px
		width: 1170px
		@media only screen and (min-width : 768px) and (max-width : 1170px)
			width: 768px
			height: 830px
		@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
			width: 568px
			height: 1320px
			justify-content: center
		@media only screen and (min-width : 320px) and (max-width : 767px)
			width: 568px
			height: 1320px
			justify-content: center

		a:hover
			img
				opacity: 1.0
				transition: 1s

	&__main__box
		display: flex
		flex-direction: column
		align-items: center
		height: 410px
		width: 368px
		text-align: center

		h1
			@include font("Raleway", 800, 16px)
			color: $font_color
			margin-top: 20px
		h2
			@include font("Raleway", 500, 14px)
			color: $recent_portfolio_h2_color
			margin-top: 12px
		p
			@include font("Raleway", 500, 14px)
			color: $font_color
			line-height: 25px
			margin-top: 19px
			width: 330px

	&__box
		height: 250px
		width: 368px
		background-color: $logo_bg-color

		img
			height: 100%
			width: 100%
			opacity: 0.3
