.service__section
	display: flex
	flex-direction: column
	align-items: center
	width: 1170px
	margin-top: 80px
	@media only screen and (min-width : 768px) and (max-width : 1170px)
		width: 968px
	@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
		width: 578px
		margin: 0px
	@media only screen and (min-width : 320px) and (max-width : 767px)
		width: 578px
		margin: 0px

	&__name
		display: flex
		flex-flow: row
		align-items: center
		
		h1
			@include font("Raleway", 800, 16px)
			color: $font_color
		
		.line
			height: 1px
			width: 100px
			margin: 0 30px
			background-color: $name_line_color
		
	&__wrapper
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		margin-top: 40px
		height: 310px
		width: 1170px
		@media only screen and (min-width : 768px) and (max-width : 1170px)
			width: 600px
			height: 710px
		@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
			width: 578px
			height: 710px
			justify-content: center
		@media only screen and (min-width : 320px) and (max-width : 767px)
			width: 578px
			height: 710px
			justify-content: center

	&__box
		display: flex
		flex-direction: column
		align-items: center
		border: 4px double $service_box_border_color
		height: 300px
		width: 270px
		
		img
			margin-top: 50px
			height: 60px

		h1
			@include font("Raleway", 800, 15px)
			color: $font_color
			margin-top: 30px

		p
			@include font("Raleway", 500, 14px)
			color: $font_color
			width: 220px
			text-align: center
			margin-top: 20px
			line-height: 25px