.mid__content
	display: flex
	justify-content: center
	width: 100%
	background-color: $body_color

	&__wrapper
		display: flex
		flex-direction: column
		width: 1170px
		height: 1280px

.intro
	margin: 69px 0

	h1
		@include font("Raleway", 800, 35px)
		color: $font_color
	p
		@include font("Raleway", 300, 25px)
		color: $font_color



