.process__section
	display: flex
	justify-content: center
	height: 408px
	width: 100%
	background-image: url(../img/process_section.png)
	background-size: cover
	background-position: center center
	@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
		height: 600px
	@media only screen and (min-width : 320px) and (max-width : 767px)
		height: 600px

	&__wrapper
		display: flex
		flex-direction: column
		align-items: center
		width: 1170px
		@media only screen and (min-width : 768px) and (max-width : 1170px)
			width: 968px
		@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
			width: 568px
		@media only screen and (min-width : 320px) and (max-width : 767px)
			width: 568px

	&__name
		display: flex
		flex-flow: wrap
		justify-content: center
		align-items: center
		margin-top: 80px

		h1
			@include font("Raleway", 800, 16px)
			color: $process_section_font_color

		p
			@include font("Raleway", 500, 14px)
			color: $process_section_font_color
			text-align: center
			width: 960px
			margin-top: 24px
			line-height: 25px
			@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
				width: 560px
			@media only screen and (min-width : 320px) and (max-width : 767px)
				width: 560px


		.line
			height: 1px
			width: 100px
			margin: 0 30px
			background-color: rgba($name_line_color, 0.5)
	
	&__box__wrapper
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		align-items: center
		height: 200px
		width: 1100px
		@media only screen and (min-width : 768px) and (max-width : 1170px)
			width: 968px
		@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
			height: 400px
			width: 368px
			justify-content: center
		@media only screen and (min-width : 320px) and (max-width : 767px)
			height: 400px
			width: 368px
			justify-content: center

		.line
			height: 1px
			width: 13%
			margin-top: -35px
			background-color: rgba($name_line_color, 0.5)
			@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
				display: none
			@media only screen and (min-width : 320px) and (max-width : 767px)
				display: none

	&__main__box
		display: flex
		flex-direction: column
		align-items: center
		height: 135px
		width: 135px
		@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
			margin: 0 20px
		@media only screen and (min-width : 320px) and (max-width : 767px)
			margin: 0 20px

		h1
			@include font("Raleway", 800, 14px)
			color: $process_section_font_color
			margin-top: 20px

.circle_bg
	fill-opacity: 0

.svg1, .svg2, .svg3, .svg4
	&:hover
		.icon1-1, .icon2-1, .icon3-1, .icon4-1
			stroke: #f5f5f5
			transition: 0.7s

		.icon2-1-1
			fill: #f5f5f5
			transition: 0.7s

		.circle_bg
			transition: 0.8s
			fill-opacity: 1